<h1>Productos de limpieza: </h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Iphone</td>
      <td>600€</td>
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', 'red', 'Iphone']">Detalle</button>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Samsung</td>
      <td>400€</td>
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', 'yellow', 'Samsung']">Detalle</button>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Oppo</td>
      <td>200€</td>
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', 'green', 'Oppo']">Detalle</button>
    </tr>
  </tbody>
</table>